# Data Types

## Primitive Data Structures (Data Types)



*   **Data type** defines the type of variable
*   Stores a value
*   Python has four variable types: integet, float, string and boolean
*   Python automatically recognizes a variable's data type based on the assigned value.
*   Convention is to use lower_case_with_underscores

## Variables types



*   Integer: numerica data. Integers numbers from negative infinity to infinity. **Integers** in **Python 3** are of unlimited size. For instance, there is no **long integer** in **Python 3**.
*   Float: represets the set of real numbers, $\mathbb{R}$.
*   String: collection of alphanumeric and other type characters.
*   Boolean: logical values, TRUE and FALSE.

### Examples

In [ ]:
some_var = 5
print(some_var )
print(type(some_var ))

In [ ]:
some_var  = 12.5
print(some_var )
print(type(some_var ))

In [ ]:
some_var  = 'a'
print(some_var )
print(type(some_var ))

In [ ]:
some_var  = True
print(some_var )
print(type(some_var ))

In [ ]:
some_var  = bool(0)
print(some_var )
print(type(some_var ))

## Operators

Basic arithmetic (+, -, *, /) is what you would expect

In [ ]:
1 + 1

In [ ]:
8 - 1

In [ ]:
10 * 2

In [ ]:
35 / 5 # The result of division is always a float

Result of integer division truncated down both for positive and negative

In [ ]:
5 // 3

In [ ]:
-5 // 3

In [ ]:
5.0 // 3.0 #works on floats too

Modulo operation

In [ ]:
10 % 3

Exponetiation $x^y$

In [ ]:
2**4

**not** operator

In [ ]:
not True

In [ ]:
not False

Comparison operators

In [ ]:
1 == 1 # Equality

In [ ]:
1 != 1 # Not equal

In [ ]:
1 < 10

In [ ]:
1 > 10

In [ ]:
2 <= 2

Comparisons can be chained

In [ ]:
2 < 3 < 2

In [ ]:
1 < 2 < 3

**and**, **or** operators

In [ ]:
0 < 2 and 2 > 1

In [ ]:
0 > 2 and 2 > 1

In [ ]:
0 > 2 and 2 < 1

In [ ]:
0 < 2 or 2 > 1

In [ ]:
0 < 2 or -2 > 1

In [ ]:
0 < -2 or -2 > 1

Identity and membership operators

In [ ]:
a = ['a', 'b', 'c', 'd', 'e']
b = ['d', 'e', 'f']
c = a

In [ ]:
a is b

In [ ]:
a is c

In [ ]:
a is not b

In [ ]:
'b' in a

In [ ]:
'f' in a

In [ ]:
'b' not in a

## Strings

In [ ]:
'This ' 'is ' 'a ' 'string' # strings can be added

In [ ]:
'This is a string'[0] # a string can be treated like a list of characters

In [ ]:
len('This is a string')

.format can be used to format strings, like this:

In [ ]:
"{} can be {}".format('Strings', 'interpolated')

You can repeat the formatting arguments to save some typing

In [ ]:
"{0} be nimble, {0} be quick, {0} jump over the {1}".format("Jack", "candle stick")

In [ ]:
"{name} wants to eat {food}".format(name="Bob", food="lasagna")

In [ ]:
a = ['miami', 'denver', 'san diego']
b = ['florida', 'colorado', 'california']
for i in range (3):
  print("{0} is a city in {1}".format(a[i], b[i]))

In [ ]:
a = ['miami', 'denver', 'san diego']
b = ['florida', 'colorado', 'california']
for i in range (3):
  print("{city} is a city in {state}".format(city = a[i], state = b[i]))

## User input

In [ ]:
input_string_var = input("Enter some data: ") # Returns the data as a string

In [ ]:
print(input_string_var)

## Collections

### Lists

In [ ]:
li = [1, 2, 3] # empty list
li

In [ ]:
other_li = [6, 7, 8, 9]
other_li

In [ ]:
li.append(4)
li            # li is now [1, 2, 3, 4]

In [ ]:
li.pop()   # Remove from the end with pop
li

In [ ]:
# list index
print(li[0])
print(li[1])
print(li[2])

In [ ]:
li.pop(0)   # Remove an element from differents positions
print(li)

In [ ]:
li = [1, 2, 3, 4, 5]
li[1:4] # You can look at ranges with slice syntax

In [ ]:
li[2:]  # Omit the end

In [ ]:
li[:2]  # Omit the beginning

In [ ]:
li[::-1] # Return a reversed copy of the list

In [ ]:
li.remove(2)  # Remove first occurrence of a value
li

In [ ]:
li.remove(2)  # Raises a ValueError as 2 is not in the list
li

In [ ]:
li.insert(1, 2) # Insert an element at a specific index
li

In [ ]:
li.index(2) # Get the index of the first item found matching the argument

In [ ]:
li + other_li # You can add lists

In [ ]:
li.extend(other_li)  # Concatenate lists with "extend()"
li

In [ ]:
len(li) # Examine the length with "len()"

### Tuples

Tuples are like lists but are inmutable

In [ ]:
tup = (1, 2, 3)
tup

In [ ]:
tup[0]

You can do most of the list operations on tuples too

In [ ]:
len(tup)

In [ ]:
tup + (4, 5, 6)

In [ ]:
tup[:2]

In [ ]:
2 in tup

You can unpack tuples (or lists) into variables

In [ ]:
a, b, c = (1, 2, 3)
print('a =', a, ';',
      'b =', b, ';',
      'c =', c)

### Dictionaries store mappings

In [ ]:
empty_dict = {}

In [ ]:
filled_dict = {'one': 1, 'two': 2, 'three': 3} # Here is a prefilled dictionary

Note keys for dictionaries have to be **immutable types**. This is to ensure that the key can be converted to a constant hash value for quick look-ups. Immutable types include ints, floats, strings, tuples.

In [ ]:
invalid_dict = {[1,2,3]: '123'}  # Raises a TypeError: unhashable type: 'list'

In [ ]:
valid_dict = {(1,2,3):[1,2,3]}   # Values can be of any type, though

Look up values with [ ]

In [ ]:
filled_dict['one']

Get all keys as an iterable with "keys( )". We need to wrap the call in list( )to turn it into a list. We'll talk about those later. **Note:** dictionary key ordering is not guaranteed. Your results might not match this exactly

In [ ]:
list(filled_dict.keys())

Get all values as an iterable with "values( )". Once again we need to wrap it in list( ) to get it out of the iterable. **Note:** same as above regarding key ordering.

In [ ]:
list(filled_dict.values())

Check for existence of keys in a dictionary with **'in'**

In [ ]:
"one" in filled_dict

In [ ]:
1 in filled_dict

In [ ]:
filled_dict.update({'four': 4}) # Adding to a dictionary
filled_dict

In [ ]:
filled_dict['five'] = 5  # Another way to add to dict
filled_dict

In [ ]:
del filled_dict["one"]  # Removes the key "one" from filled dict
filled_dict